<ion-content padding>
  <h3>Praca</h3>
  <div>
    <ion-buttons left>
      <button ion-button (click)="addNaddatek()">Dadaj Naddatek
    </button>


      <button ion-button (click)="openModal()">Dodaj naddatek</button>


      <button ion-button (click)="otworzPozycje()">Otworz pozycje</button>

    </ion-buttons>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>WLL</th>
          <th>L1</th>
          <th>Licznik</th>
          <th>Nici</th>
          <th>Zlecenie</th>
          <th>Ilosć</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pozycja of listaPozycji | async" (click)="showOptionslistaPozycji(pozycja.$key, pozycja.auf)">

          <td> <span>{{pozycja.wll}}</span> T</td>

          <td> <span>{{pozycja.l1}} </span>m </td>


          <td> <span>{{pozycja.m}} </span> </td>

          <td> <span>{{pozycja.nici}}</span></td>


          <td> <span>{{pozycja.auf}}</span></td>


          <td> <span>{{pozycja.ilosc}}</span></td>


          <td> <span>{{pozycja.date |  amDateFormat: 'DD-MM'}}</span></td>
        </tr>
      </tbody>
    </table>
    </div>


      <!--
  <ion-list>
     
      <ion-label floating>Cel</ion-label>
      <ion-input type="text" [(ngModel)]="destination"></ion-input>
     
  </ion-list>
  <button ion-button full>Weź kierunek</button> {{destination}} - {{destination}}-->

      <!--<ion-list>
    <ion-item *ngFor="let naddatek of naddatki | async" (click)="showOptions(naddatek.$key, naddatek.title)">
      <ul>
        <li>
          <b>Tonaz:</b> {{naddatek.tonaz}} T
        </li>
        <li>
          <b>dlugosc:</b>L1- {{naddatek.dlugosc}} m
        </li>
        <li>
          <b>maszyna:</b> {{naddatek.maszyna}}
        </li>
        <li>
          <b>naddatek:</b> {{naddatek.naddatek}} cm
        </li>
      </ul>
     
  </ion-list>-->


</ion-content>
