<ion-header>
  <ion-navbar>
    <ion-title>Todo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<h2>Todo - czyli lista rzeczy do zrobienia</h2>

<!-- <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul> -->

<ion-list>
  <ion-item>
    <ion-label floating>ToDo:</ion-label>
    <ion-input type="text" [(ngModel)]="newTodo"></ion-input>
  </ion-item>
</ion-list>
<button ion-button full (click)="addTodo(newTodo)" (click)="newTodo = '' ">Dodaj zadanie</button>

<ion-list no-lines>

  <ion-item-sliding *ngFor="let i = index; let item of items | async">
    <ion-item>
      <ion-checkbox color="dark" checked="true" item-left></ion-checkbox>
      <ion-label>{{item.$value}}</ion-label>
    </ion-item>

    <ion-item-options side="right">

      <button ion-button (click)="deleteTodo(item)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item-options>

  </ion-item-sliding>
 <ion-item-divider color="light">przesuń w lewo by usunąć</ion-item-divider>

</ion-list>

</ion-content>
