<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  <ion-grid>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-note *ngIf="!myForm.controls.name.valid" color="danger">
            Name is required (minimum 5 characters).
          </ion-note>

        </ion-col>
      </ion-row>

       <ion-card formArrayName="addresses" *ngFor="let address of myForm.controls.addresses.controls; let i=index">
        <ion-row>
          <ion-col>

            <ion-item>
              <span>Address {{i + 1}}</span>
              <span *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)">
                </span>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [formGroupName]="i">

            <ion-item>
              <ion-label>street</ion-label>
              <input type="text" formControlName="street">
            </ion-item>
            <ion-note [hidden]="myForm.controls.addresses.controls[i].controls.street.valid">
              Street is required
            </ion-note>

            <ion-item>
              <ion-label>postcode</ion-label>
              <input type="text" formControlName="postcode">
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-card>
      <button ion-button full type="submit" [disabled]="!myForm.valid">
        Submit
      </button>

      <ion-card>
        <ion-card-content>
          <ion-card-title>
            myForm details:-
          </ion-card-title>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </ion-card-content>
      </ion-card>

    </form>
  </ion-grid>
  </div>
</ion-content>